.student-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #d69bc1;
  border-radius: 12px;
  background-color: #fff0f6;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3);
}

.student-form input, .student-form button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #d69bc1;
  box-sizing: border-box;
}

.student-form button {
  background-color: #e36bae;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.student-form button:hover {
  background-color: #c85598;
}

.message {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}


.toast-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease-in-out;
}

.toast-message.success {
  background-color: #28a745;
}

.toast-message.error {
  background-color: #dc3545;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Images */
.image-preview {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-top: 10px;
  object-fit: cover;
  border: 2px solid #ddd;
}
